body {
	overflow-y: scroll;
	min-height: 300px;
	min-width: 300px;
	margin-right: 30px;
}

.hidden {
	display:none;
}

h1 {
	display: block;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: x-large;
}

#switch {
	display: block;
	float: right;
}

#inputbox {
	width: 100%;
	text-align: center
}

#query {
	width: 100%;
	max-width: 30em;
}

#results {
	font-size: small;
	margin-left: auto;
	margin-right:auto;
	max-width: 50em;
}

#results.largefont {
	font-size: medium;
}

#results.noruby rp, #results.noruby rt, #results.noruby .ruby{
	display:none;
}

#results a.searchlink, #results a.searchlink {
	color: blue;
}

#results a.implicit.searchlink {
	color: black;
	text-decoration: none;
}

#results a.implicit.searchlink:hover {
	color: blue;
	text-decoration: underline;
}

#results .entry-box {
	margin-left: 1em;
}

#results .entry {
	font-weight: bold;
}
#results .kind {
	margin-left:0.5em;
}

#results .kind, #results .info {
	background-color:#f8f8f8;
	font-size:80%;
	padding:0.1em;
	border:solid #ccc 1px;
}

#results dd, dt {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

#results .bracket, #results .entry-box .separator {
	display: none;
}

#results .translation {
	display:list-item;
	list-style-type:square;
}

#results .phonetic {
	font-family: Helvetica, Arial, sans-serif;
}

#results .query-highlight {
	color: orangered;
}

#loading {
	text-align: center;
	width: 100%;
}
